<div class="container-fluid">
  <div *ngIf="this.loginService.hasToken()">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
    </div>
    <div class="add">
      <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Adicionar</a>
    </div>
  </div>

  <div *ngIf="!this.loginService.hasToken()">
    <p>
      Por favor, fazer login !
    </p>
  </div>
</div>