<div class="container-fluid">
  <div *ngIf="this.loginService.hasToken()">
    <h3>
      Bem-vindo ao Da Hora, {{this.loginService.user.name}}
    </h3>
    <h4>
      Para o curso de
      <b>{{this.loginService.user.graduation.name}}</b> são necessárias
      <b>{{this.loginService.user.graduation.hours}}</b> horas de Atividades Complementares
    </h4>

    <div>
      <h4>
        Você possui {{this.loginService.user.hours}} horas de atividades complementares
      </h4>
      <h4>
        Você precisa {{this.loginService.user.graduation.hours - this.loginService.user.hours}} horas para completar suas horas de
        atividades !
      </h4>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nome da Atividade Complementar</h5>
          <p>15 horas</p>
        </div>
      </a>
    </div>
    <div class="add">
      <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Adicionar</a>
    </div>
  </div>

  <div class="home" *ngIf="!this.loginService.hasToken()">
    <div class="row" id="first">
      <div class="text col-6">
        O Da Hora é um sistema de cadastro de Atividades Complementares
      </div>
      <div class="col img">
        <img src="../../assets/img/check-form.png" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col img">
        <img src="../../assets/img/clock.png" alt="">
      </div>
      <div class="text col-6 second">
        No Da Hora você pode visualizar quantidade de horas de acordo com o necessário para o seu curso!
      </div>
    </div>

    <div class="calm">
      <h2>
        Quer utilizar o sistema agora mesmo?
      </h2>
      <button type="button" class="btn btn-secondary" routerLink="/cadastro">Cadastre-se</button>
      <button type="button" class="btn btn-outline-secondary" routerLink="/login">Login</button>
    </div>

  </div>
</div>