.container-fluid{
    padding: 50px 180px;
}

h3{
    padding: 5px 0;
    border-bottom: 2px solid black;
}

h4{
    padding: 5px 0;
    text-align: justify;
    color: #545b62;
}

.list-group{
    /* max-width: 1000px; */
    padding: 30px;
}

.add{
    padding: 0 30px;
}

.list-group-item{
    padding-bottom: 0;
}